{% extends 'base.html' %}
{% block content %}
<div class="card p-4 mb-4" style="max-width:600px;margin:auto;">
  <h2 class="mb-3">{{ user.nickname or user.username }} 的主页</h2>
  <ul class="list-group mb-3">
    <li class="list-group-item"><b>用户名：</b>{{ user.username }}</li>
    <li class="list-group-item"><b>身份：</b>{{ user.role }}</li>
    <li class="list-group-item"><b>积分：</b>{{ user.score }}</li>
    <li class="list-group-item"><b>简介：</b>{{ user.bio or '暂无简介' }}</li>
  </ul>
  {% if current_user.id == user.id %}
    <a class="btn btn-primary" href="/edit_profile">编辑我的主页</a>
  {% endif %}
</div>
{% endblock %}